@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move through all the items */
  }
}

.animate-scroll {
  display: flex;
  gap: 1.5rem; /* Space between items */
  animation: scroll 40s linear infinite; /* Adjust duration for speed */
  will-change: transform;
}



/* Custom responsive design */
@media (max-width: 768px) {
  .custom-min-width {
    min-width: 200px; /* For small screens */
  }
  .custom-text-size {
    font-size: 1.25rem; /* Custom font size for small screens */
  }
}
