*{

    padding: 0;
    margin:0 ;
    color: white;
    font-family: sans-serif;
}

body{

    background-color: black;
    display: flex;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
 
    

}
.img-box img{
    width: 100%;
   position: relative;
   top: -15px;
}

.profile{
     
    display: flex;
    align-items: center;
    gap:30px;

}

.profile h2{

    font-size: 20px;
    text-transform: capitalize;

}

.menu{
        background-color: rgb(9, 49, 49);
        width:60px;
        position: fixed;
        height: 100vh;
         padding: 20px;
         overflow: hidden;
         transition: .5s;
         
         
}
.menu:hover{
    width: 260px;

}

ul{

    list-style: none;
    position: relative;
    height: 95%;

}
ul li a{

    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap:40px;
    transition: .5s;

}

ul li a:hover{

    background-color: #ffffff55;

}

.log-out{
        position: absolute;
        border-radius: 8px;
       bottom: 0;
       width: 100%;
        
}

.log-out a{

    background-color: #a00;

}

ul li a i{

    font-size: 30px;


}


.content{

    width: 80%;
    margin: 0 0 0 107px;
    flex-grow: 1;
    
}
.title-info{

        background-color: #a00;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
       
}



.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:10px;

}

.box{

    background-color: rgba(14, 73, 73, 0.7);
    height: 150px;
   flex-basis: 150px;
   flex-grow: 1;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.box i{

        font-size: 40px;
}

.box:hover{

    background-color: #ffffff55;
}
.box .data{
        text-align: center;      
}
.box .data span{

    font-size: 30px;
}

table{

        width: 100%;
        text-align: center;     
         border-spacing: 8px;
}

td, th{


    background-color: #123;
    height: 40px;
    border-radius: 8px;

}

th{

    background-color: rgba(0, 0, 255, 0.404);
}

td .price{
    padding: 6px;
    background-color: green;
    border-radius: 6px;

}

td .count{
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(255, 191, 0, 0.737);
    color: black;
}

td:hover{

    background-color: #ffffff55;

}

.title-infoo{

    background-color: #a00;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 10px;
   
}